<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>864496948686-5654s453pd6e89o969n6p1g0jeim27an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864496948686-5654s453pd6e89o969n6p1g0jeim27an</string>
	<key>API_KEY</key>
	<string>AIzaSyDkvt1wTMm4EKOs2wufZoxNs4rKkIkUj2g</string>
	<key>GCM_SENDER_ID</key>
	<string>864496948686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.westongibler.Treez</string>
	<key>PROJECT_ID</key>
	<string>treekreepers</string>
	<key>STORAGE_BUCKET</key>
	<string>treekreepers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864496948686:ios:7156e87d063a6693</string>
	<key>DATABASE_URL</key>
	<string>https://treekreepers.firebaseio.com</string>
</dict>
</plist>